<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div align="center" class="loginBox">
      <div class="Welcome">
        <img src="images/Logo.png" alt=":D">
        <p>Welcome to <%= title %></p>
        <div class="button green" style="vertical-align: middle"><a href="Login">Login</a></div>
        <div class="button gold" style="vertical-align: middle"><a href="signUp">Sign Up</a></div>
      </div>
    </div>
  </body>
</html>


