<!DOCTYPE html>
<html>
  <head>
    <title> title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div align="center" class="loginBox big">
      <div class="Welcome">
        <img src="images/Logo.png" alt=":D">
        <div class="left-menu" style="vertical-align: middle">
          <p>Welcome <%=result[0].nickname%></p>
        </div>
        <div class="right-menu" style="vertical-align: middle">
        </div>
      </div>
    </div>
  </body>
</html>



