<!DOCTYPE html>
<html>
  <head>
    <title>Saboteur</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div align="left" class="userBox loginBox">
    <img src="/images/user.png">
      <% if(user!==undefined){ %>
    <h3><%=user.nickname%></h3>
      <% } else{ %>
    <h3>Not Logged</h3>
      <% } %>
  </div>
    <div align="center" class="loginBox">
      <div class="Welcome">
        <img src="../images/Logo.png" alt=">_> no image">
        <p><%=title%></p>
        <form action="/users/loginUser" method="post">
          <div class="text-form">
            Username <span id="star">*</span>
          </div>
          <input type="text" name="Nickname" value="">
          <div class="text-form">
            Password <span id="star">*</span>
          </div>
          <input type="password" name="password" value=""><br>
          <input class="button green " type="submit" value="Login">
        </form>
      </div>
    </div>
  </body>
</html>


