<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div align="center" class="loginBox">
      <div class="Welcome">
        <img src="images/Logo.png" alt=":D">
        <form action="loginUser" method="post">
          <div class="text-form">
            Username <span id="star">*</span>
          </div>
          <input type="text" name="Nickname" value="">
          <div class="text-form">
            Password <span id="star">*</span>
          </div>
          <input type="password" name="password" value=""><br>
          <input class="button green " type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>


