<!DOCTYPE html>
<html>
  <head>
    <title>Saboteur</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div align="left" class="userBox loginBox">
    <img src="/images/user.png">
      <% if(user){ %>
    <h3><%=user.nickname%></h3>
      <% } else{ %>
    <h3>Not Logged</h3>
      <% } %>
  </div>
    <main role="main" align="center" class="loginBox">
      <div class="Welcome">
        <img src="../images/Logo.png" alt=":D">
        <form class="signUp-form"action="/users/createUser" name="signUpForm" method="post">
          <div class="text-form">
            Username <span id="star">*</span>
          </div>
          <input type="text" name="nickname" vvalue="">
          <div class="text-form">
            Password <span id="star">*</span>
          </div>
          <input type="password" name="password" value="">
          <div class="text-form">
            Full name  <span id="star">*</span>
          </div>
          <input type="text" name="fullName" value="">
          <div class="text-form">
            Sex
          </div>
          <input id='HombreR' type="radio" name="sex" value="M">
          <label class="text-form" for="HombreR">Male</label>

          <input id='MujerR' type="radio" name="sex" value="F" check>
          <label class="text-form" for="MujerR">Female</label><br>

          <label class="text-form" for="date">Date of Birth</label>
          <input type="date" name="date" value="YYYY-MM-DD"/><br>

          <label class="text-form" for="Photo">Photo</label>
          <input id="Photo" type="file" name="photo" value=" "><br><br>

          <input class="button green" type="submit" value="Submit">
        </form>
      </div>
    </main>
  </body>
</html>


